/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------- Body -------------------------------- */
body {
	background-color: #eae9e7;
}
a {
	color: #829485;
	text-decoration: none;
}
a:hover {
	color: #343B6F;
	text-decoration: underline;
}
/* -------------------------------- Header -------------------------------- */
.barrasuperior{
	display: grid;
	z-index: 1;
	place-content: center;
	width: 100%;
	height: 50px;
	top: 50px; 
	position: fixed;
	background-color: #eae9e7;
}
.logo {
	vertical-align: middle;
}
.barra1, .barra2, .barra3, .barra4, .barra5 {
	display: inline-block;
	margin: 10px;
	font-size: 25px;
	font-weight: bold;
}
/* -------------------------------- Imágenes en scroll horizontal -------------------------------- */
.album {
	display: flex;
	width: 100%;
	height: 80vh;
	overflow: hidden;
}
.fotosinicio {
	display: flex;
	scroll-snap-type: x mandatory;
	margin-top: 150px;
	animation: scrolling 30s linear infinite;
	
}
@keyframes scrolling {
	0% { transform: translateX(0%);}
	100% { transform: translateX(-41.5%);}
}
.fotoscroll{
	display: flex;
	align-items: center;
	flex-shrink: 0;
	white-space: nowrap;
	border: 10px solid #eae9e7;
	object-fit: fill;
	height: 100%;
}
/* -------------------------------- Footer -------------------------------- */
footer{
	display: grid;
	place-content: center;
	margin-top: 80px;
	width: 100%;
	bottom: 0px;
	position: absolute;
	background-color: #829485;
}
.contenedorf{
	max-width: 90vw;
	overflow: hidden;
}
.contenedorcolumnas{
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}
.columnaf{
	margin-top: 30px;
	margin-bottom: 30px;
	width: calc(20% - 30px);
	padding: 0 15px;
}
.columnaf h4{
	margin-bottom: 10px;
	font-size: 18px;
	color: #424B44;
	text-transform: capitalize;
	font-weight: 700;
	position: relative;
}
.columnaf h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	background-color: #424B44;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}
.columnaf ul li:not(:last-child){
	margin-bottom: 10px;
}
.columnaf ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #424B44;
	text-decoration: none;
	font-weight: 600;
	color: #424B44;
	display: block;
	transition: all 0.3s ease;
}
.columnaf ul li a:hover{
	color: #eae9e7;
	padding-left: 10px;
}
.columnaf .sociallinks a{
	z-index: 1;
	display: inline-block;
	height: 30px;
	width: 30px;
	background: rgba (255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 25%;
	color: #eae9e7;
	transition: all 0.5s ease;
}
.columnaf .sociallinks a:hover{
	transform: scale(1.2);
}
/* -------------------------------- Responsive del Footer -------------------------------- */
@media(max-width: 767px){
	.columnaf{
		width: 50%;
		margin-bottom: 30px;
	}
}
@media(max-width: 574px){
	.columnaf{
		width: 100%;
	}
}